body {
    margin: 0;
    padding: 0;
    
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    z-index:4;
}

.nav_bar ul {
    display: flex;
    justify-content: flex-end;
}

.nav_bar li {
    text-align: center;
}

.nav_bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar li a:hover {
    background-color: #ddd;
}

.nav_bar li a.active {
    background-color: #4CAF50;
    color: white;
}

.custom_message {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 24px;
    z-index: 2;
    color: white;
    z-index: 1;
}

.background-container {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("hotel_bakgrund.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.Hitta_image img {
    padding: 10px;
    width: 30%;
    height: 25%;
}

.Hitta_image {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(50%, -50%);
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}

.image-frame {
    border: 2px solid black;
    padding: 10px;
}

.message-container {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(50%, -50%);
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.message-container p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.Bakgrund_Hitta {
    width: 100%;
    height: 100vh;
    background-image: url("herno_gin_hotell.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rectangle {
    position: absolute;
    right: 25%;
    top: 32%;
    width: 450px;
    height: 300px;
    background-color: lightblue;
    z-index: 1;
}

.Booka-image {
    width: 400px;
    height: 200px;
    position: absolute;
    top: calc(50% + 100px);
    right: 100px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upper-half {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.fotnot{
    position:absolute;
    top:95%;
    right:50;
    width:100%;
    height: 45px;
    background-color:orange;

}

.container {
    position: absolute;
    top: calc(50% + 200px);
    left: 100px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-box {
    margin-bottom: 20px;
}

.text-box label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
}

.text-box input[type="text"],
.text-box textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-right: 70px;
}

input[type=submit] {
    background-color: darkgreen;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}









@media screen and (max-width: 600px) {
    .nav_bar {
        justify-content: center;
    }

    .nav_bar li {
        text-align: left;
    }

    .nav_bar li a {
        padding: 10px 12px;
    }

    .image-text {
        font-size: 24px;
    }

    
    .Booka-image {
        display: none;
    }

    .container{
        bottom:100px;  
        padding:20px;
        background-color:white;

    }
      
    




}
@media screen and (max-width: 1300px) {
    .rectangle {
        display:none;
    }

    .Hitta_image {

        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:150%;
        height:150%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .message-container {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .Booka-image {
        display:none;
    }
}